
.main {
    width: 1024px;
    height: 1000px;
    float: left;
    background-color: darkgrey;
}

.header {
    width: 1024px;
    height: 100px;
    float: left;
}

.logo {
    width: 490px;
    height: 100px;
    background-color: darkgrey;
    float: left;
    margin-left: 22px;
    font-size: 100px;
}

.navigation {
    width: 490px;
    height: 100px;
    background-color: darkgrey;
    float: left;
    margin-right: 22px;
}

.icons {
    width: 98px;
    height: 70px;
    float: left;
    font-size: 25px;
    margin-top: 30px;
}

.mainContent {
    width: 1024px;
    height: 900px;
    background-color: darkgrey;
    float: left;
}

.image {
    width: 980px;
    height: 400px;
    float: left;
    margin-left: 22px;
    margin-right: 22px;
}

.section {
    width: 980px;
    height: 100px;
    float: left;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 37px;
}

.section2 {
    width: 1024px;
    height: 400px;
    background-color: darkgrey;
    float: left;
    font-size: 30px;
}

.article {
    width: 490px;
    height: 150px;
    float: left;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;

}

.article2 {
    width: 490px;
    height: 150px;
    float: left;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.innerArticle {
    width: 400px;
    height: 150px;
    float: right;
    font-size: 30px;
}
