@keyframes animacija{
    0%{
        margin-left: 0px;
        margin-top: 0px;
        border-radius: 0px;
    }
    10%{
        margin-left: 200px;
        margin-top: 0px;
        width: 150px;
        height: 150px;
        border-radius: 0px;
    }
    20%{
        margin-left: 200px;
        margin-top: 200px;
        width: 300px;
        height: 300px;
        background-color: green;
        border-radius: 0px;
    }
    30%{
        margin-left: 200px;
        margin-top: 300px;
        width: 300px;
        height: 300px;
        border-radius: 300px;
    }
    40%{
        margin-left: 250px;
        margin-top: 400px;
        width: 150px;
        height: 150px;
        background-color: blue;
        border-top-left-radius: 300px;
    }
    50%{
        margin-left: 250px;
        margin-top: 500px;
        width: 300px;
        height: 100px;
        border-radius: 0px;
    }
    60%{
        margin-left: 400px;
        margin-top: 500px;
        width: 50px;
        height: 50px;
        border-radius: 0px;
    }
    70%{
        margin-left: 400px;
        margin-top: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    80%{
        margin-left: 250px;
        margin-top: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    90%{
        margin-left: 250px;
        margin-top: 200px;
        width: 150px;
        height: 150px;
        border-top-right-radius: 300px;
    }
    100%{
        margin-left: 250px;
        margin-top: 250px;
        opacity: 0;
    }

}



.kocka{
    width: 100px;
    height: 100px;
    animation: animacija 30s;
    background-color: red;

}


@keyframes animacijaZaTrepkanje {
    0%{
        opacity: 1;
        color: green;
    }
    50%{
        opacity: 0.2;
        color: red;
    }
    100%{
        opacity: 1;
        color: green;
    }
}


h1{
 animation: animacijaZaTrepkanje 2s;
    animation-iteration-count: infinite;
}
