
.main{
    width: 1024px;
    height: 2800px;
    float: left;
    background-color: coral;
}





.home{
    width: 1004px;
    height: 400px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-image: url(/domasna-2/img/free_stock_photo_man_working_on_laptop_B_2.jpg);
}
.homeCountainer1{
    width: 1004px;
    height: 150px;
    float: left;
}
.homeLogo{
    width: 300px;
    height: 150px;
    float: left;
}
.homeNavigation{
    width: 704px;
    height: 120px;
    float: left;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.homeCountainer2{
    width: 954px;
    height: 100px;
    float: left;
    text-align: left;
    margin-left: 50px;
    font-size: 40px;
}
.homeCountainer3{
    width: 954px;
    height: 50px;
    float: left;
    text-align: left;
    margin-left: 50px;
}
.homeCountainer4{
    width: 954px;
    height: 100px;
    float: left;
    margin-left: 50px;
}
.homeCountainer4Buton1{
    width: 300px;
    height: 40px;
    float: left;
    border: solid white 2px;
    text-align: center;
    vertical-align: middle;
}

.homeCountainer4Buton2{
    width: 100px;
    height: 40px;
    float: left;
    border: solid coral 2px;
    text-align: center;
    vertical-align: middle;
    background-color: coral;
    margin-left: 20px;
}



.feature{
    width: 1004px;
    height: 400px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}
.featureNaslov{
    width: 1004px;
    height: 100px;
    float: left;
}
.featureA{
    width: 200px;
    height: 100px;
    float: left;
}
.featureB{
    width: 604px;
    height: 100px;
    float: left;
}
.featureB1{
    width: 624px;
    height: 50px;
    float: left;
    font-size: 60px;
    text-align: center;
}
.featureB2{
    width: 624px;
    height: 50px;
    float: left;
    font-size: 20px;
    text-align: center;
}

.featureCountainer{
    width: 1004;
    height: 300px;
    float: left;
    margin: 10xp;
    background-color: white;
}
.featureCountainerA{
    width: 984px;
    height: 140px;
    float: left;
    margin-top: 10xp;
    margin-left: 10px;
    margin-right: 10px;
}
.featureCountainerB{
    width: 984px;
    height: 140px;
    float: left;
    margin-bottom: 10xp;
    margin-left: 10px;
    margin-right: 10px;
}
.featureArticleA{
    width: 320px;
    height: 130px;
    float: left;
    text-align: left;
}

.featureArticleInnerSlika{
    width: 328px;
    height: 35px;
    float: left;
    text-align: left;
    color: coral;
}
.featureArticleInner{
    width: 328px;
    height: 35px;
    float: left;
    text-align: left;
    color: coral;
}
.featureArticleInner1{
    width: 328px;
    height: 70px;
    float: left;
    text-align: left;
    opacity: 0.8;
}

.lovedBy{
    width: 1004px;
    height: 400px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(/domasna-2/img/34211618-Business-people-working-together-Stock-Photo-office.jpg);
}

.slika{
    width: 1004px;
    height: 200px;
    float: left;
}
.slikaA{
    width: 1004px;
    height: 100px;
    float: left;
}
.slikaB{
    width: 452px;
    height: 100px;
    float: left;
}
.slikaC{
    width: 100px;
    height: 100px;
    float: left;
}
.naslov1{
    width: 1004px;
    height: 100px;
    float: left;
    font-size: 50px;
    text-align: center;
    font-weight: bold;

}
.naslov2{
    width: 1004px;
    height: 50px;
    float: left;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.naslov3{
    width: 1004px;
    height: 50px;
    float: left;
    font-size: 15px;
    text-align: center;
}
